<div *ngFor="let game of games" class="game-card">
  <p><strong>{{ formatDate(game.datetime) }}</strong></p>
  <p><strong>{{ game.visitor_team.full_name }}</strong> at <strong>{{ game.home_team.full_name }}</strong></p>

  <!-- Display score, period, and time only if the game has started -->
  <ng-container *ngIf="game.period > 0">
    <p>Score: {{ game.home_team_score }} - {{ game.visitor_team_score }}</p>
    <p>Period: {{ game.period }}</p>
    <p *ngIf="game.time">Time Left: {{ game.time }}</p>
  </ng-container>
</div>
